# Frontend Environment Variable
# Production: https://resume-chatbot-api-ritik.vercel.app
VITE_API_URL=http://localhost:8000

# Backend Environment Variables
# Production: https://resume-chatbot-ritik.vercel.app
FRONTEND_URL=http://localhost:5173
GROQ_API_KEY=
